// Site variables //////////////////////////////////////////////////////////////////////////
// $font-family-sans-serif:
//   // Safari for OS X and iOS (San Francisco)
//   -apple-system,
//   // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
//   system-ui,
//   // Chrome < 56 for OS X (San Francisco)
//   BlinkMacSystemFont,
//   // Windows
//   "Segoe UI",
//   // Android
//   "Roboto",
//   // Basic web fallback
//   "Helvetica Neue", Arial, sans-serif !default;
// $font-family-sans-serif: 'Lato', sans-serif;


$font-family-sans-serif: 'Open Sans', sans-serif;
$body-background: #fff;
$body-font-size: 16px;
// $heading-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Montserrat', sans-serif;
$page-top-margin: 50px;
$text-light: #eee;
$text-dark: #444;
$accent-color: #1b2352;
$hover-color: #aaa;
$accent-dark: #000;
$link-font-weight: 700;
$page-top-margin: 0px;




// Site styles //////////////////////////////////////////////////////////////////////////
body {
    background: $body-background;
    font-family: $font-family-sans-serif;
    font-size: $body-font-size;
    color: $text-dark;
}
.page {
    margin-top: $page-top-margin;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $heading-font-stack;
    font-weight: 900;
}
a {
    color: $accent-color;
    font-weight: $link-font-weight
}
a:hover {
    color: $hover-color
}
.light {
    color: #fff
}
.dark {
    color: #333
}
.upper {
    text-transform: uppercase
}
.hrule {
    border-bottom: 1px solid #999;
    padding-bottom: 10px
}
.hrule.light {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}
.gutter-rule-dark {
    border-left: 1px solid #ccc
}
.section-heading {
    margin-bottom: 50px
}
button:focus {
    outline: 0;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ccc !important;
    -moz-box-shadow: 0 8px 6px -6px #ccc !important;
    box-shadow: 0 8px 6px -6px #ccc !important;
}
.text-section {
    padding-top: 50px;
    padding-bottom: 50px
}
.text-section-spacer {
    margin-top: 60px
}
.section-header {
    font-size: 30px;
    border: none;
    margin-top: 0;
    margin-bottom: 30px;
}
.section-header:after {
    content: "";
    background: $accent-dark;
    position: absolute;
    height: 1px;
    width: 250px;
    margin-left: -130px;
}
.section-header.text-left:after {
    margin-left: 0;
}
.section-header.text-right:after {
    // margin-left: -50px;
}
.section-header h2 {
    margin-bottom: 15px;
}
.section-header.wsub {
    margin-bottom: 10px;
}
.section-header.wsub h2 {
    margin-bottom: 17px;
}

.title-desc {
    text-align: center;
    width: 60%;
    margin: 45px auto 30px auto;
    color: #aaa;
    font-weight: 300;
}
// Navbar styles //////////////////////////////////////////////////////////
#brand-illinois {
    font-weight: 900;
    color: #aaa;
    color: $accent-color
}
#divider {
    color: #000;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 700
}
#brand-soort {
    color: #000;
    font-weight: 400;
    text-transform: uppercase
}
// Navbar breakpoints //////////////////////////////////////////////////////

@include media-breakpoint-down(md) {

    #mailingList {display: none}

}
@include media-breakpoint-down(sm) {
    .hamburger {
        display: none;
    }
    #mailingList {display: none}
    .navbar-brand {
        font-size: 11px;
        margin-left: 0;
    }
}
